<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="#" name="contactForm" method="GET" novalidate class="formgroup">
        <div>
        <input type="text" name="name" ng-model="contact.name" ng-required="true">
    </div>
    <div>
            <input type="email" name="email" ng-model="contact.name" ng-required="true">
        </div>
        <div>
                <input type="text" name="name" ng-model="contact.email" ng-required="true">
            </div>
    </form>
</body>
</html>